.main{
  width: 100%;
  position: relative;
  margin-top: 30px;
}

.main::before {
  content: " ";
  display: block;
  padding-top: 56.25%;
}

.main iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}